/* i) Headings styling */
h1, h2 {
  font-style: normal;
  font-size: 240%;
  text-align: right;
}

/* ii) Paragraph with class 'container' */
.container {
  font-family: "Times New Roman", serif;
  font-weight: bold;
  color: green;
  text-indent: 2cm;
}

/* iii) Background image repeated vertically only */
body {
  background-image: url('watch1.jpg');
  background-repeat: repeat-y;  
  background-color: #f5f5f5;    
}
